.myRequestRides {
  width: 100%;
  min-height: 92vh;
  padding: 2rem 1rem;
  background: linear-gradient(227deg, #cc9393 0%, #8d8388 100%);
  color: #222843 !important;
}
.myRequestRides h2 {
  font-size: 2rem;
  color: #222843;
  font-weight: 400;
  margin-bottom: 1rem;
}
.myRequestRides p {
  font-size: 1.3rem;
  font-weight: 600;
  margin: 0.6rem 0;
}
.ride_requester {
  margin-bottom: 2rem !important   ;
}
.ride_requester_details p span {
  font-weight: 400;
  font-size: 1.2rem !important;
}
