.navbar {
  width: 100%;
  height: auto;
  padding: 0.4rem 2rem;
  box-shadow: 0px 2px 8px 0px #d0c5c5;
  position: sticky !important;
  top: 0;
  background-color: #222843;
  z-index: 1000;
}
.nav_inner {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_left {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_left a {
  font-size: 1.2rem;
  text-transform: capitalize;
  padding: 0.4rem 1rem;
  margin-right: 0.6rem;
  color: #fff;
}
.nav_inner .logo a {
  font-size: 1.7rem;
  color: #ff4e5a;
  font-weight: 400;
  font-family: "Pacifico", cursive;
  margin-right: 1.7rem;
}
.nav_right {
  min-width: 200px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register_btn .MuiButton-label {
  color: #fff !important;
}
.active_nav {
  border-radius: 1.9rem;
  border-right: 3px solid rgb(5, 111, 138);
  border-left: 3px solid rgb(5, 111, 138);
}
