.landingpage {
  width: 100%;
  height: auto;
}
.landingpage .banner {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.landingpage .banner_text {
  width: 50%;
}

.landingpage .banner_text h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #222843;
  margin-bottom: 1rem;
}

.landingpage .banner_text p {
  font-size: 1.2rem;
  color: #222843;
}
.banner .banner_right {
  width: 50%;
  height: auto;
}
.banner .banner_right img {
  width: 100%;
}

/* Search Ride section */

.search_for_ride {
  height: 320px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  background: linear-gradient(
    90deg,
    #000 0%,
    #24536f 0%,
    #000 0%,
    #2aab71 0%,
    #24536f 60%,
    #246f5c 100%
  );
}
.search_for_ride::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 320px;
  background: linear-gradient(
    90deg,
    #000 0%,
    #24536f 0%,
    #000 0%,
    #13bd23 0%,
    #0dc572 62%,
    #3292ff 100%
  );
  /* top: 4rem; */
  z-index: 1;
  clip-path: polygon(
    73% 34%,
    100% 16%,
    100% 35%,
    100% 67%,
    100% 100%,
    50% 100%,
    0 100%,
    6% 76%,
    41% 71%,
    60% 58%
  );
}

.search_for_ride h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #fff;
  z-index: 2;
  margin-bottom: 1rem;
}
.search_for_ride .search_box {
  z-index: 2;
}
.search_for_ride .search_box button {
  font-size: 1.3rem;
  font-weight: 400;
  color: #fff !important;
  background-color: #d43a3a !important;
  box-shadow: 2px 5px 17px 6px #222843;
}
.search_box .MuiButton-label {
  color: #fff;
}
.search_box button .MuiSvgIcon-root {
  color: #fff !important;
}
.search_for_ride .search_box button:hover {
  letter-spacing: 1px;
  background-color: #222843 !important;
}

/* Offer Ride section starts here */

.LandingPage_offer_ride {
  padding: 2rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.LandingPage_offer_ride_text {
  padding-left: 3rem;
}

.LandingPage_offer_ride h2 {
  font-size: 3rem;
  font-weight: 400;
  color: #222843;
}

.LandingPage_offer_ride p {
  font-size: 1rem;
  color: gray;
  margin-top: 0.5rem;
  margin-bottom: 1.7rem;
}
.LandingPage_offer_ride button {
  width: 9.3rem;
  background-color: #222843;
  height: 3rem;
  color: #fff;
  border-radius: 2rem;
  font-size: 1rem;
  font-weight: 400;
}
.LandingPage_offer_ride button:hover {
  background-color: #1a483c;
}

/* Carpooling save section starts */
.c_save {
  background-color: #edf8ff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.c_save_text {
  padding: 1rem 1.6rem;
}
.c_save_text h2 {
  font-size: 2.5rem;
  font-weight: 400;
  color: #222843;
  margin-bottom: 0.6rem;
}
.c_save_text p {
  color: gray;
}
.c_save_text p i {
  /* font-weight: bold; */
  font-family: "Pacifico", cursive;
  color: #d43a3a;
}
.owners,
.riders {
  width: 100%;
  display: flex;
  margin-top: 2rem;
}
.owners h3,
.riders h3 {
  color: #222843;
}
.owners .MuiSvgIcon-root,
.riders .MuiSvgIcon-root {
  color: rgb(171, 17, 17);
  margin-right: 1rem;
}

.c_save img {
  width: 50%;
  order: 2;
}
