.MyRequestRidesResponse {
  width: 100%;
  min-height: 92vh;
  padding: 2rem 1rem;
  background: linear-gradient(227deg, #cc9393 0%, #8d8388 100%);
}
.MyRequestRidesResponse h2 {
  font-size: 2rem;
  color: #222843;
  font-weight: 400;
  margin-bottom: 1rem;
}
