.register {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.register_left {
  width: 50%;
  height: 100vh;
  background-color: red;
  background: linear-gradient(90deg, #36b1b7 0%, #b65ad0 100%);
  display: grid;
  place-items: center;
  text-align: center;
  color: #fff;
}
.register_left img {
  /* width: 50%; */
  height: 200px;
  width: fit-content;
}
.register_left h1 {
  font-size: 3.1rem;
  font-weight: 400;
}
.register_left p {
  font-size: 1.3rem;
}
.register_left button {
  width: 70%;
  background: linear-gradient(90deg, #6eb736 0%, #5a5ad0 100%);
  margin-top: 2rem;
  font-size: 1.2rem;
  color: #fff;
  border-radius: 1.5rem;
  box-shadow: -2px 0px 17px 0px #69d92c;
}

/* Register right starts here  */

.register_right {
  width: 50%;
  height: 100vh;
  display: grid;
  place-items: center;
  text-align: center;
}
.register_right .register_right_inner {
  width: 100%;
}
.register_right h2 {
  font-size: 2.6rem;
  color: #222843;
  font-weight: 600;
  margin-bottom: 0.8rem;
}
.register_right h3 {
  font-size: 1.7rem;
  font-weight: 400;
  color: #222843;
  margin-bottom: 1.2rem;
}
.register_right hr {
  max-width: 70%;
  border: 0;
  height: 1px;
  margin: 1rem auto 3rem;
  background-color: rgb(191, 188, 188);
}
.register_right form {
  width: 100%;
  height: auto;
  padding: 1rem;
}

.MuiFormControl-root {
  width: 70% !important;
  margin-bottom: 1.3rem !important;
  background-color: #e0f3ff;
  border-radius: 1.3rem;
}
.MuiFilledInput-root {
  font-size: 1.2rem;
  color: grey;
}

.MuiFilledInput-underline:before {
  border-bottom: 0 !important;
}
.MuiFilledInput-underline:after {
  border-bottom: 0px solid rgb(12, 150, 209) !important;
  border-bottom-left-radius: 3rem !important;
}
.register_right form button {
  width: 50%;
  background: linear-gradient(90deg, #0a676d 0%, #d200c2 100%);
  color: #fff;
  font-size: 1.2rem;
  font-weight: 400;
  border-radius: 1.4rem;
}

.MuiFilledInput-root {
  background: none !important;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.register_right form p {
  font-size: 1rem;
  color: gray;
  margin-top: 0.7rem;
}
.register_right form p a {
  color: rgb(7, 68, 149);
}
